# git ignore files

# ignore data folder
data/

# ignore cache and checkpoints
__pycache__/
.ipynb_checkpoints/
.vscode/

# ignore files -> mostly produce by Selenium
debug.log

# ignore build folder -> created by pyinstaller
build/

# ignore temp files
testings/
